.container {
  max-width: 935px;
  margin: 0 auto;
  padding: 30px 20px;
  position: relative;
  color: var(--text-primary);
}
@media (max-width: 768px) {
  .container {
    padding: 16px;
    padding-bottom: 72px;
    max-width: 100%;
    margin: 0 auto;
  }
}
